<header class="row" id="header">
    <div class="content">
        <span class="logo">Juan Felipe Arango <strong>Profile</strong></span>
    </div>

    <div class="status" style="width: 75%;">
        <span>Sunset - Marinilla, Ant, Colombia.</span>
    </div>
</header>

<div class="pombo">

</div>

<div class="row" id="intro">
    <div class="content">

        <div id="pre-subscribe">
            <div class="row" id="copy">
                <h1>deployed2</h1>
                <h1>I'm a <strong>Happy</strong> Web Developer.</h1>
                <p>I love to work in Web Design and Development using Ruby on Rails, Ember.js, HTML and CSS. I'll be happy to help you with your project.</p>
            </div>
        </div>

        <div class="row" id="social">
            <a class="icon email" href="mailto:jfelipe38@gmail.com" target="blank"></a>
            <a class="icon github" href="http://github.com/jfelipe" target="blank"></a>
            <a class="icon linkedin" href="http://co.linkedin.com/in/jfelipe38" target="blank"></a>
        </div>
    </div>
</div>